@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .section-min-height {
        min-height: calc(100vh - 68px);
    }

    .floating {
        animation: float ease-in-out 15s infinite;
    }

    @keyframes float {
        0% {
            transform: translate(-20px, 10px);
        }
        12% {
            transform: translate(10px, -10px);
        }
        25% {
            transform: translate(30px, -15px);
        }
        36% {
            transform: translate(10px, 10px);
        }
        50% {
            transform: translate(-20px, -10px);
        }
        62% {
            transform: translate(15px, 13px);
        }
        75% {
            transform: translate(10px, -10px);
        }
        90% {
            transform: translate(-10px, -10px);
        }
        100% {
            transform: translate(-15px, 5px);
        }
    }

    .toggle-btn {
        @apply  [&>div::before]:translate-y-0 [&>div::before]:rotate-45
                [&>div::after]:translate-y-0 [&>div::after]:-rotate-45
                [&>div]:rotate-180 [&>div]:bg-transparent
    }

}








